<section>
        <div id="schema-view-konva"></div>
        <div>
                <button (click)='addToilette()'><img src="../../assets/images/icons/bathroom/toilette.png"></button>
                <button (click)='addLavabo()'><img src="../../assets/images/icons/bathroom/lavabo.png"></button>
                <button (click)='addEvier()'><img src="../../assets/images/icons/bathroom/evier.png"></button>
                <button (click)='addEvier2()'><img src="../../assets/images/icons/bathroom/evier2.png"></button>
                <button (click)='addDouche()'><img src="../../assets/images/icons/bathroom/douche.png"></button>
                <button (click)='addPiece()'><img src="../../assets/images/icons/piece/piece.jpg"></button>
                <button (click)='addSol()'><img src="../../assets/images/icons/piece/sol.png"></button>
                <button (click)='addEauChaude()'><img src="../../assets/images/icons/plomberie/tube-rouge.png"></button>
                <button (click)='addEauFroide()'><img src="../../assets/images/icons/plomberie/tube-bleu.png"></button>
                <button (click)='addRaccordEauChaude()'><img src="../../assets/images/icons/plomberie/raccord-chaud.png"></button>
                <button (click)='addRaccordEauFroide()'><img src="../../assets/images/icons/plomberie/raccord-froid.png"></button>
                <button (click)='addBaignoire()'><img src="../../assets/images/icons/menager/baignoire.png"></button>
                <button (click)='addLaveLinge()'><img src="../../assets/images/icons/menager/lave-linge.png"></button>
                <button (click)='addLaveVaisselle()'><img src="../../assets/images/icons/menager/lave-vaisselle.png"></button>
                <button (click)='addChauffeEau()'><img src="../../assets/images/icons/menager/chauffe-eau.png"></button>
                <button (click)='clear()'>Clear</button>
                <button (click)='save()'>Save</button>
                <button (click)='load()'>Load</button>
        </div>
</section>