<section>
        <div id="schema-view-konva"></div>
        <div>
                <button (click)='addToilette()'><img src="../../assets/images/icons/bathroom/toilette.png"></button>
                <button (click)='addLavabo()'><img src="../../assets/images/icons/bathroom/lavabo.png"></button>
                <button (click)='addPiece()'><img src="../../assets/images/icons/piece/piece.jpg"></button>
                <button (click)='addEauChaude()'><img src="../../assets/images/icons/plomberie/tube-rouge.png"></button>
                <button (click)='addEauFroide()'><img src="../../assets/images/icons/plomberie/tube-bleu.png"></button>
                <button (click)='clear()'>Clear</button>
                <button (click)='save()'>Save</button>
                <button (click)='load()'>Load</button>
        </div>
</section>